/* General */
body {
    font-family: 'Erbaum', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Misión Header */
.mision-header {
    text-align: center;
    padding: 20px;
    background-color: #1E1E1E;
}

.mision-header img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}

/* Secciones */
section {
    margin: 20px;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Lista de detalles técnicos */
.detalles-tecnicos ul {
    list-style: none;
    padding: 0;
}

.detalles-tecnicos li {
    margin: 10px 0;
}

/* Galería */
.galeria {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias filas */
    gap: 10px; /* Espacio entre las imágenes */
}

.galeria img {
    width: 100%;
    max-width: calc(33.33% - 10px); /* Las imágenes ocupan un 33.33% de la fila, con espacio */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}

/* Tabla de datos */
.tabla-datos {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
    background-color: #1E1E1E;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
}

.tabla-datos th, 
.tabla-datos td {
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

.tabla-datos th {
    background-color: #C1272D;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.tabla-datos tr:nth-child(even) {
    background-color: #2A2A2A;
}

.tabla-datos tr:hover {
    background-color: #C1272D;
    color: #ffffff;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .galeria img {
        max-width: calc(50% - 10px); /* En pantallas medianas, mostramos 2 imágenes por línea */
    }
}

/* Media query para pantallas aún más pequeñas */
@media (max-width: 480px) {
    .galeria img {
        max-width: calc(100% - 10px); /* En pantallas pequeñas, mostramos 1 imagen por línea */
    }
}

.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}
